<div *ngIf="school">
    <h2>{{school.schoolName | uppercase}} Details</h2>
    <div><span>id: </span>{{school.schoolId}}</div>
    <div><span>Address: </span>{{school.schoolAddress}}</div>
    <div>
      <label for="school-name">Hero name: </label>
      <input id="school-name" [(ngModel)]="school.schoolName" placeholder="school name">
    </div>
    <button (click)="goBack()">go back</button>
    </div>
