<div class="container-fluid">
    <h1 style="text-align: center;color: rgb(182, 211, 211); font: oblique;">Delete School</h1> 

    <form #schoolForm = "ngForm" (ngSubmit) = "onSubmit()" novalidate>
        <div class="form-group">
            <label>School Id</label>
            <input type="text" required  #name = "ngModel" [class.is-invalid]="name.invalid && name.touched"
             class="form-control" name ="School name"
             [(ngModel)]="id" placeholder="Enter school id">
             <small class = "text-danger" [class.d-none] = "name.valid || name.untouched">School id is required</small>
        </div>
        <button [disabled]= "schoolForm.form.invalid"  class="btn btn-primary" type="submit">Delete</button>
    </form>
</div>