<h1 style="text-align: center; font-style: oblique;" >{{title}}</h1>

<nav>
  <a routerLink="/addschool">Add School</a>
  <a routerLink="/deleteschool">Delete School</a>
  <a routerLink="/updateschool">Update School</a>
  <br>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/schools">Schools</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
