
<div class="container-fluid">
    <h1 style="text-align: center;color: rgb(182, 211, 211); font: oblique;">Add School Form</h1> 
    <form  #schoolForm = "ngForm" (ngSubmit) = "onSubmit()" novalidate>

        <div class="form-group">
            <label>School Id</label>
            <input type="text" required  #name = "ngModel" [class.is-invalid]="name.invalid && name.touched"
             class="form-control" name ="School id"
             [(ngModel)]="school.schoolId" placeholder="Enter school id">
             <small class = "text-danger" [class.d-none] = "name.valid || name.untouched">School Id is required</small>
        </div>

        <div class="form-group">
            <label>School Name</label>
            <input type="text" required  #name = "ngModel" [class.is-invalid]="name.invalid && name.touched"
             class="form-control" name ="School name"
             [(ngModel)]="school.schoolName" placeholder="Enter school name">
             <small class = "text-danger" [class.d-none] = "name.valid || name.untouched">School name is required</small>
        </div>

        <div class="form-group">
            <label>School Address</label>
            <input type="text" required #address = "ngModel" [class.is-invalid]="address.invalid && address.touched"
             class="form-control"  name="school address"
             [(ngModel)] = "school.schoolAddress" placeholder="Enter school address">
             <small class = "text-danger" [class.d-none]="address.valid || address.untouched">School address is required</small>
        </div>

        <button [disabled]= "schoolForm.form.invalid" class="btn btn-primary" type="submit">Submit Form</button>
    </form>
</div>
