<h2>My School List</h2>
<ul class="heroes">
    <li *ngFor="let school of schools">
      <a routerLink="/detail/{{school.schoolId}}">
        <span class="badge">{{school.schoolId}}</span> {{school.schoolName }}
      </a>
    </li>
  </ul>

  